@model Intranet.Models.RequestFreight

@{
    ViewBag.Title = "Просмотр заявки на выделение грузового транспорта";
    ViewBag.Active = "Freight";
}

<fieldset>
    <legend>Заявка № @Model.RequestId, на выделение грузового транспорта

    @Html.Raw(Intranet.Utils.StatusChecker.Check(Model.Request.Status))

    </legend>
    <table class="table table-bordered">
        
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.DestinationPoint)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.DestinationPoint)
                </div>
            </td>
        </tr>

        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.Request.RequestDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Request.RequestDate)
                </div>
            </td>
        </tr>
        
        <tr>
            <td style="width: 33%">
                Данные о характере груза
            </td>
            <td class="display-field">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.RequestFreightCargoes.First().CargoName)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestFreightCargoes.First().Weight)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestFreightCargoes.First().Length)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestFreightCargoes.First().Width)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestFreightCargoes.First().Height)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestFreightCargoes.First().Volume)
                        </th>
                    </tr>
                    @Html.DisplayFor(model => model.RequestFreightCargoes)
                 @*   @foreach (Intranet.Models.RequestFreightCargo cargo in Model.RequestFreightCargoes.Where(c => c.IsDeleted != true).ToList())
                    {
                        <tr>
                            <td>
                                <div class="display-field">
                                    @cargo.CargoName
                                </div>
                            </td>
                            <td>
                                <div class="display-field">
                                    @Html.DisplayFor(c => c.Weight)
                                </div>
                            </td>
                            <td>
                                <div class="display-field">
                                    @cargo.Length
                                </div>
                            </td>
                            <td>
                                <div class="display-field">
                                    @cargo.Width
                                </div>
                            </td>
                            <td>
                                <div class="display-field">
                                    @cargo.Height
                                </div>
                            </td>
                            <td>
                                <div class="display-field">
                                    @cargo.Volume
                                </div>
                            </td>
                        </tr>
                    }*@
                </table>               
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    <label>Файлы</label>
                </div>
            </td>
            <td>
                @foreach (Intranet.Models.RequestAttachment file in Model.Request.RequestAttachments.Where(a => a.IsDeleted != true).ToList())
                {
                    <div>
                    @Html.ActionLink(file.Name, "DownloadFile", new { fId = file.Id })
                    </div>
                }
            </td>
        </tr>  
        
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.VehicleType)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.VehicleType)
                </div>
            </td>
        </tr>         
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.Request.CustomerId)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Request.v_RequestCustomer.CustomerName)
                </div>
            </td>
        </tr>    

        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.OrderNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.OrderNumber)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.LoadingType)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LoadingType)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.LoadingAddress)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LoadingAddress)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.ContactName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ContactName)
                </div>
            </td>
        </tr>    
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.Responsible)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Responsible)
                </div>
            </td>
        </tr>        
    </table>
</fieldset>

@if (Model.Request.RequestEvents.Count != 0)
{
    <div class="dips-messages">
    <p>
        Операции с заявкой
    </p>
    @Html.DisplayFor(model => model.Request.RequestEvents)
    </div>
}

    @Html.Partial("_DetailViewButtons", Model.Request)
