@model Intranet.Models.RequestFreight

@{
    ViewBag.Title = "Просмотр заявки на выделение грузового транспорта в пределах витебской области";
    ViewBag.Active = "Freight";
}

<fieldset>
    <legend>Заявка № @Model.RequestId, на выделение грузового транспорта в пределах витебской области

    @Html.Raw(Intranet.Utils.StatusChecker.Check(Model.Request.Status))

    </legend>
    @Html.Partial("_Info",Model)
</fieldset>

@if (Model.Request.RequestEvents.Count != 0)
{
    <div class="dips-messages">
    <p>
        Операции с заявкой
    </p>
    @Html.DisplayFor(model => model.Request.RequestEvents)
    </div>
}

    @Html.Partial("_DetailViewButtons", Model.Request)
