@model Intranet.Models.RequestFreightCargo

<tr>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.CargoName)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.NumberOfPackages)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.KindOfPacking)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.Weight)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.Length)
        </div>
    </td>
    <td>
        <div class="display-field">
           @Html.DisplayFor(c => c.Width)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.Height)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.Volume)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.Cost)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.SpecialProperties)
        </div>
    </td>
</tr>
