@model Intranet.Models.RequestCrane

@{
    ViewBag.Title = "Удаление заявки на грузоподъемный кран";
    ViewBag.Active = "Crane";
}

<h2>Удаление записи</h2>
<h3>Вы действительно хотите удалить эту заявку?</h3>

@using (Html.BeginForm())
{
    <fieldset>
    <legend>Заявка № @Model.RequestId, на выделение грузоподъемного крана</legend>
    <table class="table table-bordered">
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.Request.RequestDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Request.RequestDate)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.Request.CustomerId)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Request.v_RequestCustomer.CustomerName)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.LicenceNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LicenceNumber)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.WorkPlace)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.WorkPlace)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.WorkObject)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.WorkObject)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.WorkType)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.WorkType)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.CraneType)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CraneType)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.PowerLineExists)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PowerLineExists)
                </div>
            </td>
        </tr>

        @if (Model.PowerLineExists == true)
        {
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.PowerPermission)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PowerPermission)
                </div>
            </td>
        </tr>
        }
        
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.Responsible)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Responsible)
                </div>
            </td>
        </tr>

        <tr>
            <td style="width: 33%">
                Данные о стропальщиках
            </td>
            <td class="display-field">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.RequestCraneSlingers.First().Office)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestCraneSlingers.First().FIO)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestCraneSlingers.First().CertificateNumber)
                        </th>
                        <th>
                            @Html.LabelFor(model => model.RequestCraneSlingers.First().DateKnowledge)
                        </th>                        
                    </tr>
                    @Html.DisplayFor(model => model.RequestCraneSlingers)
                 
                </table>               
            </td>
        </tr>      

        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.ProjectExists)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ProjectExists)
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%">
                <div class="display-label">
                    @Html.LabelFor(model => model.ResponsibleOrder)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ResponsibleOrder)
                </div>
            </td>
        </tr>                 
    </table>
</fieldset>
    
    <table style="width:100%">
    <tr>
        <td>
            <div class="pull-right muted nomargin createdby">
    Запись создана @Html.DisplayFor(model => model.Request.PublishDate) пользователем @Html.DisplayFor(model => model.Request.UserFio)</div>
        </td>
    </tr>
       <tr>
           <td>
               <div class="form-actions nomargin">
                   <table style="width: 100%">
                       <tr>
                           <td>
                           @*@Html.ActionLink("Удалить", "DeleteItem", new {id = Model.Id}, new {@class="btn btn-danger"})*@
                               <input type="submit" value="Удалить" class="btn btn-danger"/>                                       
                           </td>
                           <td>
                               @Html.ActionLink("Вернуться к списку", "Index", "Home",null, new { @class = "btn btn-primary pull-right" })
                           </td>
                       </tr>
                   </table>
               </div>
           </td>
       </tr>
</table>
    
}
