@model IEnumerable<Intranet.Models.RequestCrane>

@{
    ViewBag.Title = "Заявки на грузоподъемный кран";
    ViewBag.Active = "Crane";
}

<table style="width:100%">
    <tr>
        <td>
            <h4>Заявки на грузоподъемный кран</h4>
        </td>
        <td>
        @*    <div class="pull-right" style="vertical-align:middle">
    @using (Ajax.BeginForm("FilterKPs", "Kp", new AjaxOptions
            {
                UpdateTargetId = "kpstable",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "progress"
            },
        new { @class = "form-inline", style= "margin: 0" }))
    {
                            
        <label class="muted smallfont" for="num">
            №</label>
        <input type="text" name="num" class="input-small" placeholder="№" /> 
        <label class="muted smallfont" for="fio">
            Автор</label>
        <input type="text" name="fio" class="input-small" data-autocomplete="@Url.Action("QuickSearch", "Kp")" placeholder="Автор" />   
        <input type="submit" value="Поиск" class="btn btn-small" />    
    }
</div>*@
        </td>
    </tr>
</table>

<div id="prtable">
    <div class="well well-small">
        <table style="width:100%">
            <tr>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Создать новую заявку
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink("На пассажирский транспорт", "Create", "Passenger", null, null)
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="javascript:void(0)">На грузовой транспорт</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("В пределах витебской области", "Create", "Freight", null, null) </li>
                                    <li>@Html.ActionLink("За пределами витебской области", "Create", "International", null, null) </li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("На грузоподъемный кран", "Create", "Crane", null, null)
                            </li>
                        </ul>
                    </div>             
                </td>
                <td id="progress">                
                    <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="loader" />               
                </td>                
                <td style="text-align:right">
                    @*<div class="muted smallfont">
                        В таблице показаны все конкурсы                        
                        @Ajax.ActionLink("Показать только мои конкурсы",
                            "ShowOnlyMyKPs", null,
                            new AjaxOptions
                            {
                                UpdateTargetId = "kpstable",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                LoadingElementId = "progress"
                            },
                            new { @class = "btn btn-mini" })
                    </div>*@
                </td>
            </tr>
        </table>
    </div>
    @Html.Partial("_Table", Model)
</div>
