@model IEnumerable<Intranet.Models.RequestPassenger>

@{
    var grid = new WebGrid(Model, rowsPerPage: 30);          
    @grid.Table(         
        tableStyle: "table table-hover smallfont",
        columns: grid.Columns(
                    
                    grid.Column(null, "№", canSort:false, format: @<text>@Html.ActionLink(((int)item.RequestId).ToString(), "Details", "Passenger", new { id = item.RequestId }, null)</text>),                    
                    grid.Column("Request.Status", "Статус", canSort: false, format: (item) =>
                    {
                        return new HtmlString(Intranet.Utils.StatusChecker.Check(item.Request.Status));
                        //if (item.Request.Status == 0)
                        //    return new HtmlString("<span class='label'>Опубликована</span>");
                        //else
                        //    if (item.Request.Status == 1)
                        //        return new HtmlString("<span class='label label-warning'>Отправлена</span>");
                        //    else
                        //        if (item.Request.Status == 2)
                        //            return new HtmlString("<span class='label label-success'>Принята</span>");
                        //        else
                        //            if (item.Request.Status == 3)
                        //                return new HtmlString("<span class='label label-important'>Возвращена</span>");
                        //            else
                        //                if (item.Request.Status == 4)
                        //                    return new HtmlString("<span class='label label-important'>Отменена</span>");
                        //                else
                        //                    if (item.Request.Status == 5)
                        //                        return new HtmlString("<span class='label label-success'>В работе</span>");
                        //                    else
                        //                        if (item.Request.Status == 6)
                        //                            return new HtmlString("<span class='label label-success'>Выполнена</span>");                                                                                    
                        //return new HtmlString("<span class='label'>Не определен</span>");
                    }),
                            grid.Column("Request.Customer", "Заказчик", canSort: false, style: "customercolumn"),                            
                            grid.Column("DestinationPoint", "Пункт назначения", canSort: false),
                            grid.Column("Request.RequestDate", "Дата поездки", canSort: false, format: (item) => string.Format("{0:dd.MM.yyyy}", item.Request.RequestDate)),
                            grid.Column("TripPurpose", "Цель поездки", canSort: false),
                            grid.Column("Request.PublishDate", "Опубликовано", canSort: false, format: (item) => string.Format("{0:dd.MM.yyyy}", item.Request.PublishDate)),
                            grid.Column("Request.UserFio", "Автор", canSort: false),
                            grid.Column(null, "", canSort: false, format: @<text>@Html.ActionLink("Просмотр", "Details", "Passenger", new { id = item.RequestId }, new {@class = "btn btn-mini"})</text>),
     grid.Column(null, "", style:"copycolumn", canSort: false, format: @<text>@Html.ActionLink("Создать копию", "Create", "Passenger", new { id = item.RequestId }, new { @class = "btn btn-mini btn-primary" })</text>)                                        
    ))
<div class="pagination pagination-small pagination-right">
    @grid.PagerList(mode: WebGridPagerModes.All)
</div>       

}